<style>

  div.horizontal-scroll-wrapper {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  }

div.horizontal-scroll-wrapper img {
 padding 10px;
}

</style>

<div class="horizontal-scroll-wrapper squares">
  {{ $path := print "content/" .Page.File.Dir "images" }}
  {{ $url  := print "images" }}
    {{ range (readDir $path)  }}            
        {{ $src := print $url "/" .Name }}                
        <div>
          <image src="{{ $src }}" style="padding: 80px"/>
        </div>           
    {{ end }}
</div>
